
.veueSection, .weatherSection {
    margin-top: 5%;
}
#apiDiv {
    visibility: hidden;
}

.margin {

    margin: 2.5%;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: center;


}

#weatherData {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

/*.photo {
    Photo by Sheila from Pexels
    https://www.pexels.com/photo/airplane-wing-towards-clouds-731217/
}*/

    #mainContainer {
        background-image: url("/assets/media/bkndLg.png");
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center; 
        text-align:center;
    }
        

   
    #mainSection {
        vertical-align: middle;
    }

    #headerMain {
        height: 300px;

        }
    #headerText {
        color :darkorange;
        margin-top:0.5rem;

    }
    #qText {
        color:white ;
        font-size: 50px;
        margin-bottom: 2.5%;
    }

    #logo {
        font-size: 48px; 
        color: darkorange;
        margin-left: 1.5rem;
        margin-right:0.5rem;
    }
    #headerContainer {
       padding-left:0;
       padding-right:0;
    }
    